@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #E55137;
  color: black;
}

.randomWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
  margin-top: 5%;
  font-size: 75px;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: darkblue;
}
.randomWord .word {
  border-bottom: 4px solid black;
  width: 50px;
}

.letters {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 30px;
  text-align: center;
  max-width: 550px;
  margin: auto;
  font-size: 40px;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  color: darkblue;
}
.letters .letter {
  cursor: pointer;
}

.gallows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3%;
}
.gallows .gallowSteps {
  width: 250px;
}