@import 'vars';

.navPanel {
    background-color: #181818;
    width: 100%;
    position: sticky;   
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid darkblue;

    .navbar {
        margin-left: 5vw;
        color: white;
        display: flex;
        flex-direction: row;
        gap: 35px;
        width: 50vw;
        @include font();
        padding: 20px;
        font-size: 15px;


        .mainLink {
            color: #c23a3a;
        }

        .link {
            cursor: pointer;
            transition: 0.5s all;
        }

        .link:hover {
            color: #c23a3a;
        }
    }

    .navBtn {
        display: none;
    }
}

@media (max-width: 1200px) {
    .navPanel {
        border: none;

        .navbar {
            padding: 0;
            opacity: 0;
            transition: all 0.25s linear;
            display: flex;
            flex-direction: column;
            font-size: calc(18px + (15 - 18) * ((100vw - 320px) / (1200 - 320)));
        }

        .disable {
            height: 0;
            padding: 0;
            animation: navbarSetDisable 0.25s linear;
            cursor: text;
            transform: translateX(-1000px);
        }

        .active {
            height: 210px;
            animation: navbarSetActive 0.25s linear;
            opacity: 1;
            margin-top: 25px;
        }

        .navBtn {
            display: flex;
            flex-direction: row-reverse;
            padding: 8px;
            border-bottom: 2px solid darkblue;
            width: 100%;

            .navLogo {
                width: calc(40px + (50 - 40) * ((100vw - 320px) / (1200 - 320)));
                height: 35px;
                cursor: pointer;
            }
        }
    }
}

@keyframes navbarSetActive {
    from {
        transform: translateX(-150px);
    }

    to {
        transform: translateX(0)
    }
}

@keyframes navbarSetDisable {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-150px)
    }
}