body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 100px;
}

.main {
    margin-top: 5%;
}

.stopwatch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .dash {
        margin: 0 20px 0 5px;
    }
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .watchButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        .but {
            margin-top: 20px;
            width: 100px;
            height: 40px;
            background-color: gray;
            border: none;
            transition: 0.5s;
            font-size: 14px;
        }

        .but:hover {
            background-color: white;
        }
    }

    .textWatch {
        border: 3px solid gray;
        width: 300px;
        border-radius: 5%;
        font-size: 50px;
        padding: 0 0 0 50px;
    }
}

@media (max-width:1200px) {
    body {
        font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1200 - 320)));
    }

    .container {
        .watchButtons {
            .but {
                width: calc(80px + (100 - 80) * ((100vw - 320px) / (1200 - 320)));
                font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1200 - 320)));
            }
        }
    }
}