/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.title {
  background-image: url(../assets/gif/titleWallpaper.gif);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  gap: 30px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  color: white;
}
.title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}
.title__text__name {
  color: #c23a3a;
}
.title__button {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 3px solid white;
  padding: 10px;
  font-size: 20px;
}
.title__button .arrowImage {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  width: 40px;
}
.title__button:hover {
  background-color: teal;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.title__button:hover .arrowImage {
  -webkit-animation: loader1 0.2s linear;
          animation: loader1 0.2s linear;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes loader1 {
  from {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader1 {
  from {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  .title__text {
    font-size: calc(20px + 20 * (100vw - 320px) / 880);
  }
  .title__button {
    padding: calc(5px + 5 * (100vw - 320px) / 880);
    font-size: calc(15px + 5 * (100vw - 320px) / 880);
  }
  .title__button .arrowImage {
    width: calc(30px + 10 * (100vw - 320px) / 880);
  }
}
.navPanel {
  background-color: #181818;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid darkblue;
}
.navPanel .navbar {
  margin-left: 5vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  width: 50vw;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  padding: 20px;
  font-size: 15px;
}
.navPanel .navbar .mainLink {
  color: #c23a3a;
}
.navPanel .navbar .link {
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.navPanel .navbar .link:hover {
  color: #c23a3a;
}
.navPanel .navBtn {
  display: none;
}

@media (max-width: 1200px) {
  .navPanel {
    border: none;
  }
  .navPanel .navbar {
    padding: 0;
    opacity: 0;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: calc(18px + -3 * (100vw - 320px) / 880);
  }
  .navPanel .disable {
    height: 0;
    padding: 0;
    -webkit-animation: navbarSetDisable 0.25s linear;
            animation: navbarSetDisable 0.25s linear;
    cursor: text;
    -webkit-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  .navPanel .active {
    height: 210px;
    -webkit-animation: navbarSetActive 0.25s linear;
            animation: navbarSetActive 0.25s linear;
    opacity: 1;
    margin-top: 25px;
  }
  .navPanel .navBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 8px;
    border-bottom: 2px solid darkblue;
    width: 100%;
  }
  .navPanel .navBtn .navLogo {
    width: calc(40px + 10 * (100vw - 320px) / 880);
    height: 35px;
    cursor: pointer;
  }
}
@-webkit-keyframes navbarSetActive {
  from {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes navbarSetActive {
  from {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes navbarSetDisable {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}
@keyframes navbarSetDisable {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}
.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.about__title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  padding-bottom: 10px;
  -webkit-animation: upSet 0.5s linear;
          animation: upSet 0.5s linear;
}
.about__title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: black;
  bottom: 0;
  right: 25%;
}
.about__title::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 25%;
}
.about__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  text-align: center;
  -webkit-animation: leftSet 0.8s linear;
          animation: leftSet 0.8s linear;
}
.about__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 100px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  line-height: 22px;
}
.about__profile__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  -webkit-animation: leftSet 0.7s linear;
          animation: leftSet 0.7s linear;
}
.about__profile__me__title {
  font-size: 25px;
  font-weight: 600;
}
.about__profile__me__text {
  font-size: 15px;
  font-weight: 200;
  width: 380px;
}
.about__profile__mySkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-animation: rightSet 0.8s linear;
          animation: rightSet 0.8s linear;
}
.about__profile__mySkills__bars {
  width: 600px;
}

@media (max-width: 1200px) {
  .about__title {
    font-size: calc(30px + 10 * (100vw - 320px) / 880);
    margin-top: 8vh;
  }
  .about__skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: calc(50px + 50 * (100vw - 320px) / 880);
    margin-top: 0;
  }
  .about__profile__me {
    gap: calc(5px + 5 * (100vw - 320px) / 880);
  }
  .about__profile__mySkills__bars {
    width: calc(340px + 160 * (100vw - 320px) / 880);
  }
}
@-webkit-keyframes upSet {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes upSet {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes leftSet {
  from {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes leftSet {
  from {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes rightSet {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rightSet {
  from {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
.projects {
  margin-top: 8vh;
  padding-top: 5vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}
.projects__title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  padding-bottom: 10px;
  -webkit-animation: upSet 0.5s linear;
          animation: upSet 0.5s linear;
  margin-top: 10vh;
}
.projects__title::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 25%;
}
.projects__title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: black;
  bottom: 0;
  right: 25%;
}
.projects__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8vh;
  gap: 30px;
  padding-bottom: 30px;
  -webkit-animation: leftSet 0.8s linear;
          animation: leftSet 0.8s linear;
}

@media (max-width: 1200px) {
  .projects__title {
    font-size: calc(30px + 10 * (100vw - 320px) / 880);
  }
  .projects__apps {
    gap: calc(0px + 30 * (100vw - 320px) / 880);
    padding-bottom: 30px;
  }
}
@keyframes upSet {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes leftSet {
  0% {
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
.contacts {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #151515;
  gap: 30px;
}
.contacts__title {
  margin-top: 80px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  padding-bottom: 10px;
  -webkit-animation: downSet 0.8s linear;
          animation: downSet 0.8s linear;
}
.contacts__title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: black;
  bottom: 0;
  right: 25%;
  background-color: white;
}
.contacts__title::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 25%;
  background-color: white;
}
.contacts__text {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 28px;
  -webkit-animation: downSet 0.8s linear;
          animation: downSet 0.8s linear;
}
.contacts__creator {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  -webkit-animation: downSet 0.8s linear;
          animation: downSet 0.8s linear;
}
.contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-animation: downSet 0.8s linear;
          animation: downSet 0.8s linear;
}

@media (max-width: 1200px) {
  .contacts {
    gap: calc(20px + 10 * (100vw - 320px) / 880);
  }
  .contacts__title {
    font-size: calc(30px + 10 * (100vw - 320px) / 880);
    margin-top: 8vh;
  }
  .contacts__text {
    font-size: calc(20px + 8 * (100vw - 320px) / 880);
  }
}
@-webkit-keyframes downSet {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes downSet {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: white;
}