body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 100px;
}

.stopwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stopwatch .dash {
  margin: 0 20px 0 5px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.container .watchButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.container .watchButtons .but {
  width: 100px;
  height: 30px;
  background-color: gray;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.container .watchButtons .but:hover {
  background-color: white;
}
.container .textWatch {
  border: 3px solid gray;
  width: 300px;
  border-radius: 5%;
  font-size: 50px;
  padding: 0 0 0 50px;
}